# Xcode
.DS_Store
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.xcuserstate

# SwiftPackageManager
.swiftpm
.build/
Package.resolved

# Build Artifacts
build.log

# Misc
.env
.idea/
.vscode/

# Build & Release Artifacts
/PlayIPTV
/PlayIPTV.app
/Releases/
/PlayIPTV.iconset/

# Project Specific (if any)
debug-config.json
